body {
  padding: 0;
  margin: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 18px;
  line-height: 150%;
  color: #333;
  background: #efeee7;
}

/* header CSS below */

header {
  padding: 20px 35px;
  background-color: #333;
  min-width: 463px;
}

header h1 {
  font-weight: bold;
  font-size: 36px;
  color: #eee;
  margin: 0;
  display: inline;
}

header a {
  text-decoration: none;
  color: #eee;
}

header nav {
  margin: 7px;
}

header nav ul,
header nav ul li {
  display: inline;
}

header nav ul li a {
  margin: 0 30px;
  font-weight: lighter;
  font-size: 22px;
}

.mainWrapper {
  min-width: 712px;
}

/* applications CSS with flex */


.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}


#topBar {
  justify-content: space-between;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}
 /* 527x873 */
 
.leftColumn {
  width: 20%;
  border-right: solid #333 3px;
  text-align: right;
  padding-right: 10px;
  height: 205px;
  padding-bottom: 20px;
  min-width: 142px;
  min-height: 248px;
}

.rightColumn {
  display: flex;
  flex-direction: column;
  max-width: 67%;
  padding-left: 10px;
  height: 205px;
  min-width: 527px;
  margin-bottom: 0px;
  margin-top: 0px;
}

.runBuddy {
  max-height: 170px;
}

#multiColumn {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 67%;
  padding-left: 10px;
  height: 200px;
}

#multiColumn,
#whoAmI {
  border-bottom: solid #333 3px;
  padding-bottom: 20px;
}

#myApplications {
  width: 100%;
  text-align: center;
}

.rightColumnA,
.rightColumnB {
  width: 40%;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
}

#resumeLink {
  display: inline;
}

.smImg {
  align: bottom;
}

img {
  border: solid 3px red;
  flex-grow: 0;
}

#pic {
  padding-top: 23px;
}

 @media screen and (max-width: 1400px) {
  
  #multiColumn {
    flex-direction: column;
    height: 100%;
    margin-left: 0px;
  }

  .rightColumnB {
    border-left: solid #333 3px;
    margin-left: -13px;
    margin-top: 40px;
    margin-bottom: -23px;
    padding-bottom: 10px;
  }
  #myApplications {
    text-align: left;
  }
}
