.header,
.footer {
    text-align: center;
    font-size: 32px;
    margin-top: 16px;
}

.columns {
    align-items: center;
}

.infoBox {
    border: solid black 2px;
}




















































































/* Colin -------------------------------------------------------------------------------------------*/
/* THIS IS THE START OF THE STYLE FOR THE SEARCH INPUT FORM -------------------------------------------------------------------------------------------*/
:root {

  --border-radius: .6rem;
}
.search_field {
  width: 50%;
  text-align: center;
}

.btn1 {
  background-color: rgb(255, 255, 255); 
  color: black; 
  border: 2px solid #4CAF50;
}

 .btn:hover {
  background-color: #4CAF50; /* Green */
  color: white;
}

.btn-inline {
  display: inline-block;
}

/* Colin */
/* THE STYLE FOR THE SEARCH INPUT FORM ENDS HERE-------------------------------------------------------------------------------------------*/